<% @posts.reverse.each do |post| %>
  
  <div class="container content">
    
    <h1> <%= post.title %> </h1> 
    <p> <%= post.content %> </p> 

	<% if post.pic.attached? %>
      <div class="pic">
        <img src="<%= url_for(post.pic)%>">
      </div>
 	<%end%>

  <% if post.pic_url %>
      <div class="pic">
        <img src="<%= post.pic_url%>">
      </div>
  <%end%>

	<% if !post.youtube_id.blank?%>
  <%binding.pry%>
	  <iframe width="560" height="315" src='https://www.youtube.com/embed/<%= post.youtube_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>'frameborder="0" style="border:0" allowfullscreen></iframe>
    <%end%>
  </div>
<%end%>

<div class="container col1">

<h1> Create a new Post </h1>
<%= form_for(@post) do |f| %>
  <label> Title </label></br>
  <%= f.text_field :title, class: 'form-control' %></br>
  <label> Content </label></br>
  <%= f.text_area :content, class: 'form-control' %></br>
  <%= f.label "photo" %>
  <%= f.file_field :pic %>
  <%= f.label "photo url" %>
  <%= f.text_field :pic_url %>
  <%= f.label "video id" %>
  <%= f.text_field :youtube_id %>
  <%= f.submit %>
<%end%>


</div>




 


