<div class="container content">
  
  <h1> <%= @post.title %> </h1> 
  <p> <%= @post.content %> </p> 

  <% if @post.pic.attached? %>
        <div class="pic">
          <img src="<%= url_for(@post.pic)%>">
        </div>
   	<%end%>
  
  	<% if !@post.youtube_id.blank? %>
    
  	  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @post.youtube_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <%end%>

<div class="fb-share-button" data-href="<%=@post_path(@post)%>" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fautumns-world.herokuapp.com%2Fposts%2F11&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>



    </div>
