<!DOCTYPE html>
<html>
  <head>
    <title>AutumnsWorld</title>
    <meta property="fb:app_id" content="1477790215708904" />

    <meta property="og:url"         content="<%= post_url(@post) if @post %>" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="<%= @post.title if @post%>" />
    <meta property="og:description" content="<%= @post.description if @post %>" />

    <meta property="og:image"       content="https://autumns-world.herokuapp.com<%=url_for(@post.pic)%>" />
    
    
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>

    <div id="fb-root"></div>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=1477790215708904&autoLogAppEvents=1"></script>

  	<nav class="navbar sticky-top navbar-light bg-light">
      <a class="navbar-brand" href="#">Autumn's World</a>
    </div>

    </nav>

    <img src="<%= image_url('aw2.jpg') %>" class="img-fluid" alt="Responsive image">

    <%= yield %>

  </body>
</html>